logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/

app/view/.env.local
app/view/.umirc.local.ts
app/view/config/config.local.ts
app/view/src/.umi
app/view/src/.umi-production
app/view/.umi
app/view/.umi-production
app/view/dist
app/view/.mfsu

